@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: "Open Sans", sans-serif;
$x-color-black: #212121;
$x-color-white: #ffffff;
$x-color-green: #00897b;
$x-color-gray: rgb(112, 112, 112);
$x-color-Lgreen: rgb(60, 189, 176);

$palette-primary: $x-color-white;
$palette-secondary: $x-color-black;
$palette-trending: $x-color-green;
$palette-background: $x-color-gray;
$palette-change-color: $x-color-Lgreen;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 16px;
    overflow: scroll;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.head{
    background-color: $palette-primary;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.logo{
    font-size: 2vw;
    display: flex;
    font-family: $font-stack;
    line-height: 22px;
    color: $palette-secondary;
    font-weight: 700;
    align-items: center;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

    &__button{
        display: flex;
        align-items: center;
        font-family: $font-stack;
        font-size: 1.5vw;
        letter-spacing: 1px;
        color: $palette-secondary;
        font-weight: 600;
    }

    &__search-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        order: -1;
    }
}

.preview-block{
    display: flex;
    place-content: center;
    flex-direction: row;
    background-image: url('../img/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__image{
        position: relative;
        width: 100%;
        place-content: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__title{
        width: 100%;
        align-content: center;
        color: $palette-primary;
        font-family: $font-stack;
        font-size: 5vw;
        text-align: center;
    }

    &__description{
       width: 100%;
       color: $palette-primary;
       font-family: $font-stack;
       font-size: 2vw;
       text-align: center;
    }

    &-buttons{
        display: flex;
        justify-content: center;

        &__btn_green{
            background: $palette-trending;
            color: $palette-primary;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 40px;
            cursor: pointer;
            border: 3px solid $palette-trending;
            margin: 20px;

            &:hover{
                background: $palette-change-color;
                border: 3px solid $palette-change-color;
            }
        }

        &__btn_white{
            background: transparent;
            color: $palette-primary;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 20px;
            cursor: pointer;
            margin: 20px;
        }
    }

}

/*второй блок*/

.description-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    &_heading{
        line-height: 22px;
        display: flex;
        justify-content: center;
        color: $palette-secondary;
        font-weight: bold;
        font-family: $font-stack;
        font-size: 2.5vw;
    }

    &_text{
        line-height: 2vw;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3%;
        color: $palette-secondary;
        font-family: $font-stack;
        font-size: 1.5vw;
    }
  
    &_information{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
  
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &_icon{
        display: flex;
        margin: auto;
        width: 5vw;
        height: 5vw;
    }

    &_information-heading{
        display: flex;
        justify-content: space-evenly;
        padding-top: 15%;
        font-family: $font-stack;
        font-size: 1.8vw;
    }

    &_information-text{
        display: flex;
        justify-content: space-evenly;
        font-family: $font-stack;
        font-size: 1.5vw;
        margin-top: 10%;
    }
}



/*третий блок*/
.services-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e4fdf9;
    flex-direction: column;
    font-family: $font-stack;
  
    &__title{
        padding-bottom: 80px;
  
        &-heading {
            line-height: 22px;
            display: flex;
            justify-content: center;
            margin-top: 11%;
            color: $palette-secondary;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 35px;
        }
        &-text {
            line-height: 2vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 3%;
            color: $palette-secondary;
            font-family: $font-stack;
            font-size: 20px;
        }
    }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;

    &-row {
        justify-content: space-around;
        display: flex;
    }
    &-info {
        width: 400px;
        font-size: 16px;
        margin: 20px 20px 20px;
        padding: 30px 30px 0px;
        background-color: $palette-primary;
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

            &-text{
                margin-top: 25px;
            }

            &-icon{
                display: flex;
                width: 5vw;
                height: 5vw;
                margin: auto;
            }

            &-btn{
                display: flex;
                justify-content: center;
                background: transparent;
                font-size: 20px;
                text-transform: uppercase;
                padding: 20px;
                cursor: pointer;
                border: 3px solid $palette-secondary;
                margin: 46px;
            }
        }
        &-info:hover{
            background: $palette-trending;
            color: $palette-primary;
            box-shadow: 5px 10px 10px $palette-secondary;
            & .services-block__content-info-icon{
                filter: invert(1);
            }

            & .services-block__content-info-btn{
                filter: invert(1);
            }
        }
    }
}








