@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-y: scroll;
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.head {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}

.logo {
  font-size: 2vw;
  display: flex;
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  color: #212121;
  font-weight: 700;
  align-items: center;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.menu__search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1;
}

.menuButton {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 600;
}

.preview-block {
  display: flex;
  place-content: center;
  flex-direction: row;
  background-image: url("../img/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.preview-block__col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.preview-block__image {
  position: relative;
  width: 100%;
  place-content: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.preview-block__title {
  width: 100%;
  align-content: center;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  text-align: center;
}
.preview-block__description {
  width: 100%;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  text-align: center;
}
.preview-block-buttons {
  display: flex;
  justify-content: center;
}
.preview-block-buttons__btn_green {
  background: #00897b;
  color: #ffffff;
  font-size: 2vw;
  text-transform: uppercase;
  padding: 30px 40px;
  cursor: pointer;
  border: 3px solid #00897b;
  margin: 20px;
}
.preview-block-buttons__btn_green:hover {
  background: #3cbdb0;
  border: 3px solid #3cbdb0;
}
.preview-block-buttons__btn_white {
  background: transparent;
  color: #ffffff;
  font-size: 2vw;
  text-transform: uppercase;
  padding: 30px 20px;
  cursor: pointer;
  margin: 20px;
}

/*второй блок*/
.description-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.description-block_heading {
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #212121;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
}
.description-block_text {
  line-height: 2vw;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
.description-block_information {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.description-block__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description-block_icon {
  display: flex;
  margin: auto;
  width: 5vw;
  height: 5vw;
}
.description-block_information-heading {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
}
.description-block_information-text {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
  margin-top: 10%;
}

/*третий блок*/
.services-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e4fdf9;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
.services-block__title {
  padding: 80px;
}
.services-block__title-heading {
  margin-top: 4%;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #212121;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
}
.services-block__title-text {
  line-height: 2.5vw;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
.services-block__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.services-block__content-row {
  justify-content: space-around;
  display: flex;
}
.services-block__content-info {
  width: 400px;
  font-size: 1.1vw;
  margin: 20px 20px 20px;
  padding: 30px 30px 0px;
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.services-block__content-info:hover {
  background: #00897b;
  color: #ffffff;
  box-shadow: 5px 10px 10px #212121;
}
.services-block__content-info:hover .services-block__content-info-icon {
  filter: invert(1);
}
.services-block__content-info:hover .services-block__content-info-btn {
  filter: invert(1);
}
.services-block__content-info-icon {
  display: flex;
  width: 5vw;
  height: 5vw;
  margin: auto;
}
.services-block__content-info-text {
  margin-top: 25px;
}
.services-block__content-info-btn {
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  border: 3px solid #212121;
  margin: 46px;
}

.team-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
.team-block__title {
  padding: 80px;
}
.team-block__title-heading {
  margin-top: 30px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #212121;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
}
.team-block__title-text {
  line-height: 2.5vw;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
.team-block__information {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.team-block__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.team-block__content-photo {
  display: flex;
  margin: auto;
  width: 25vw;
  height: 23vw;
  border-radius: 10px;
}
.team-block__content-name {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
}
.team-block__content-position {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
.team-block__icon {
  justify-content: space-evenly;
  display: flex;
  padding: 20px;
}
.team-block__icon-network {
  width: 55px;
  display: flex;
  padding: 15px;
  border-radius: 11px;
  justify-content: space-evenly;
  background-color: #f0f1f1;
  height: 55px;
}
.team-block__icon-network:hover {
  filter: invert(20%);
  cursor: pointer;
}
.team-block__circle {
  display: flex;
  justify-content: center;
  padding: 70px;
}
.team-block__circle-point {
  margin: 6px;
  background: #00897b;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.team-block__circle-point:hover {
  cursor: pointer;
  background: #3949ab;
}

.contact-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-block__title {
  padding: 80px;
}
.contact-block__title-heading {
  margin-top: 30px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
}
.contact-block__title-text {
  line-height: 2.5vw;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}
.contact-block__information {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.contact-block__information-icon {
  display: flex;
}
.contact-block__information-connection {
  flex-direction: column;
  display: flex;
  padding: 60px;
}
.contact-block__information-network {
  margin: auto;
  width: 120px;
  display: flex;
  padding: 31px;
  border-radius: 65px;
  justify-content: center;
  background-color: #3949ab;
  height: 120px;
}
.contact-block__information-text {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
  margin-top: 35px;
  color: #ffffff;
  text-align: center;
}
.contact-block__data {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  text-align: center;
}
.contact-block__form {
  display: flex;
  justify-content: space-between;
}
.contact-block__form-user {
  display: flex;
  padding: 35px;
  width: 40vw;
  height: 6vw;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.5vw;
  letter-spacing: 1px;
  line-height: 28px;
  color: #212121;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin: 18px;
}
.contact-block__message {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.contact-block__questions {
  display: flex;
}
.contact-block__questions-user {
  padding-left: 17px;
  padding-top: 16px;
  width: 82vw;
  height: 20vw;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.5vw;
  letter-spacing: 1px;
  line-height: 28px;
  color: #212121;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.contact-block__comment {
  margin-right: 5.7vw;
  display: flex;
  justify-content: end;
}
.contact-block__send {
  border-radius: 1vw;
  background: #ffffff;
  color: #212121;
  font-size: 2vw;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 1vw 6vw;
  cursor: pointer;
  margin: 2vw;
}

.contact-block__basement {
  display: flex;
  padding: 1vw;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 22px;
  color: #212121;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}