@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font-stack: "Open Sans", sans-serif;
$x-color-black: #212121;
$x-color-white: #ffffff;
$x-color-green: #00897b;
$x-color-gray: rgb(112, 112, 112);
$x-color-Lgreen: rgb(60, 189, 176);

$palette-primary: $x-color-white;
$palette-secondary: $x-color-black;
$palette-trending: $x-color-green;
$palette-background: $x-color-gray;
$palette-change-color: $x-color-Lgreen;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    overflow-y: scroll;
}

html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none; 
}

.head{
    background-color: $palette-primary;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.logo{
    font-size: 2vw;
    display: flex;
    font-family: $font-stack;
    line-height: 22px;
    color: $palette-secondary;
    font-weight: 700;
    align-items: center;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

    &__search-icon{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        order: -1;
    }
}

.menuButton{
    display: flex;
    align-items: center;
    font-family: $font-stack;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: $palette-secondary;
    font-weight: 600;
}

.preview-block{
    display: flex;
    place-content: center;
    flex-direction: row;
    background-image: url('../img/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;

    &__col{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__image{
        position: relative;
        width: 100%;
        place-content: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__title{
        width: 100%;
        align-content: center;
        color: $palette-primary;
        font-family: $font-stack;
        font-size: 5vw;
        text-align: center;
    }

    &__description{
       width: 100%;
       color: $palette-primary;
       font-family: $font-stack;
       font-size: 2vw;
       text-align: center;
    }

    &-buttons{
        display: flex;
        justify-content: center;

        &__btn_green{
            background: $palette-trending;
            color: $palette-primary;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 40px;
            cursor: pointer;
            border: 3px solid $palette-trending;
            margin: 20px;

            &:hover{
                background: $palette-change-color;
                border: 3px solid $palette-change-color;
            }
        }

        &__btn_white{
            background: transparent;
            color: $palette-primary;
            font-size: 2vw;
            text-transform: uppercase;
            padding: 30px 20px;
            cursor: pointer;
            margin: 20px;
        }
    }

}

/*второй блок*/

.description-block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    &_heading{
        line-height: 22px;
        display: flex;
        justify-content: center;
        color: $palette-secondary;
        font-weight: bold;
        font-family: $font-stack;
        font-size: 2.5vw;
    }

    &_text{
        line-height: 2vw;
        align-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        color: $palette-secondary;
        font-family: $font-stack;
        font-size: 1.5vw;
    }
  
    &_information{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
  
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &_icon{
        display: flex;
        margin: auto;
        width: 5vw;
        height: 5vw;
    }

    &_information-heading{
        display: flex;
        justify-content: space-evenly;
        padding-top: 15%;
        font-family: $font-stack;
        font-size: 1.8vw;
    }

    &_information-text{
        display: flex;
        justify-content: space-evenly;
        font-family: $font-stack;
        font-size: 1.5vw;
        margin-top: 10%;
    }
}



/*третий блок*/
.services-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e4fdf9;
    flex-direction: column;
    font-family: $font-stack;

    &__title {
        padding: 80px;
    
        &-heading{
            margin-top: 4%;
            line-height: 22px;
            display: flex;
            justify-content: center;
            color: $palette-secondary;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 2.5vw;
        }

        &-text{
            line-height: 2.5vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
            color: $palette-secondary;
            font-family: $font-stack;
            font-size: 1.5vw;
        }
    }

    &__content{
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;

        &-row{
            justify-content: space-around;
            display: flex;
        }

        &-info {
            width: 400px;
            margin: 20px 70px 20px;
            padding: 50px 40px 0px 40px;
            background-color: $palette-primary;
            flex-direction: column;
            display: flex;
            text-align: center;

            &:hover{
                background: $palette-trending;
                color: $palette-primary;
                box-shadow: 5px 10px 10px $palette-secondary;
            }

            &:hover &-icon{
                filter: invert(1);
            }

            &:hover &-btn{
                filter: invert(1);
            }

            &-icon{
                display: flex;
                width: 70px;
                height: 70px;
                margin: auto;
            }

            &-heading{
                margin-top: 25px;
                font-size: 25px;
            }

            &-text{
                margin-top: 25px;
                font-size: 19px;
            }

            &-btn{
                display: flex;
                justify-content: center;
                background: transparent;
                font-size: 20px;
                text-transform: uppercase;
                padding: 20px;
                cursor: pointer;
                border: 2.5px solid $palette-secondary;
                margin: 70px;
            }
        }
    }
}

// Четвертый блок

.team-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: $font-stack;

    &__title{
        padding: 80px;
  
        &-heading {
            margin-top: 30px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            color: $palette-secondary;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 2.5vw;
        }
        &-text {
            line-height: 2.5vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
            color: $palette-secondary;
            font-family: $font-stack;
            font-size: 1.5vw;
        }
    }

    &__information{
        display: flex;
        justify-content: space-evenly;
        text-align: center;  
    }

    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-photo{
            display: flex;
            margin: auto;
            width: 25vw;
            height: 23vw;
            border-radius: 10px;
        }

        &-name{
            display: flex;
            justify-content: space-evenly;
            padding-top: 15%;
            font-family: $font-stack;
            font-size: 1.8vw;
        }

        &-position{
            display: flex;
            justify-content: space-evenly;
            font-family: $font-stack;
            font-size: 1.5vw; 
        }
    }

    &__icon{
        justify-content: space-evenly;
        display: flex;
        padding: 20px;

        &-network{
            width: 55px;
            display: flex;
            padding: 15px;
            border-radius: 11px;
            justify-content: space-evenly;
            background-color: #f0f1f1;
            height: 55px;

            &:hover{
                filter: invert(20%);
                cursor: pointer;
            }
        }
    }

    &__circle{
        display: flex;
        justify-content: center;
        padding: 70px;

        &-point{
            margin: 6px;
            background: $palette-trending;
            border-radius: 50%;
            height: 15px;
            width: 15px;

            &:hover{
                cursor: pointer;
                background: #3949ab;
            }
        }
    }
}

//пятый блок
 
.contact-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: $font-stack;
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title{
        padding: 80px;
        
        &-heading{
            margin-top: 30px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            color: $palette-primary;
            font-weight: bold;
            font-family: $font-stack;
            font-size: 2.5vw;
        }

        &-text{
            line-height: 2.5vw;
            align-content: center;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
            color: $palette-primary;
            font-family: $font-stack;
            font-size: 1.5vw;
        }
    }
    &__information{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
            
        &-icon {
            display: flex;
        }
              
        &-connection{
            flex-direction: column;
            display: flex;
            padding: 60px;
        }
              
        &-network{
            margin: auto;
            width: 120px;
            display: flex;
            padding: 31px;
            border-radius: 65px;
            justify-content: center;
            background-color: #3949ab;
            height: 120px;
        }
  
        &-text{
            display: flex;
            font-family: $font-stack;
            font-size: 1.5vw;
            margin-top: 35px;
            color: $palette-primary;
            text-align: center;
        }
    }
        
    &__data{
        display: flex;
        justify-content: space-evenly;
        padding: 60px;
        text-align: center; 
    }

    &__form{
        display: flex;
        justify-content: space-between;

        &-user{
            display: flex;
            padding: 35px;
            width: 40vw;
            height: 6vw;
            border-radius: 10px;
            background-color: $palette-primary;
            font-size: 1.5vw;
            letter-spacing: 1px;
            line-height: 28px;
            color: $palette-secondary;
            font-weight: 600;
            font-family: $font-stack;
            margin: 18px;
        }
    }

    &__message{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    &__questions{
        display: flex;
            
        &-user{
            padding-left: 17px;
            padding-top: 16px;
            width: 82vw;
            height: 20vw;
            border-radius: 10px;
            background-color: $palette-primary;
            font-size: 1.5vw;
            letter-spacing: 1px;
            line-height: 28px;
            color: $palette-secondary;
            font-weight: 600;
            font-family: $font-stack;
        }
    }

    &__comment{
        margin-right: 5.7vw;
        display: flex;
        justify-content: end;
    }

    &__send{
        border-radius: 1vw;
        background: $palette-primary;
        color: $palette-secondary;
        font-size: 2vw;
        font-weight: 700;
        font-family: $font-stack;
        text-align: center;
        text-transform: uppercase;
        padding: 1vw 6vw;
        cursor: pointer;
        margin: 2vw;
    }
}

.contact-block__basement{
    display: flex;
    padding: 1vw;
    justify-content: center;
    background-color: $palette-primary;
    text-align: center;
    font-size: 2vw;
    letter-spacing: 1px;
    line-height: 22px;
    color: $palette-secondary;
    font-weight: 700;
    font-family: $font-stack;
}








